body {
   margin: 0;
    podding: 0;
    background: url(212.jpg);
    background-size: cover;
    font-family: 'Aref Ruqaa',  sans-serif;
    overflow-x: hidden;
}

header {
    text-align: center;
    background: none;
    color: #e9be94;
    text-shadow: 1px 3px 4px black;
}
 background-url(212.jpg)
    background-size: cover;



header .intromsg {
    padding-top: 30px;
    padding-bottom: 20px;
}

header img {
    display: block;
    margin: 0 auto 20px;
    max-width: 40%; left: 30%;
    margin-top: 6%;
}

header .repo {
    display: block;
    padding-top:10px;
    font-family: "Fredoka One", sans-serif;
    text-transform: uppercase;
    font-size: 2em;
}

@media (min-width: 768px) {
    header img {
        max-width: 30%; left: 35%;
        margin-top: 6%;
    }
    header .intromsg {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    header .repo {
        padding-top:20px;
        font-size: 3.4em;
    }

    header .donation {
        padding-top: 0px;
        font-size: 1em;
    }
}

header .donation {
    display: block;
    padding-top:0px;
    font-family: "Karla", sans-serif;
    text-transform: none;
    font-size: 1.2em;
}


header .btn{
    padding-top:10px;
}

.btn-outline {
    color:#f4f4f4;
    font-size: 1.4em;
    border: solid 2.7px #e9be94;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: white;
    background:#64260c;
    border: solid 1.8px red;
}


footer{
    padding-top: 50px;
    background-color: none;
    height:80px;
}
footer .footer-above {
    padding-top: 30px;
    background-color: none;
}
.btn-social {
    display: inline-block;
    padding-top:2px;
    height: 50px;
    width: 50px;
    border: 1.5px solid #f45a5a;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}




body {
    background-color: #d8d8d8;
}
h1 {
  text-align: center;
}
.social-menu ul {
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #ff00a7;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #ffe700;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #15ff00;
}

