body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    background-color: #efeff4;
    color: black;

}

p{
    font-size: 22px;
}

#description{
    padding-top: 12px;
}

a {
    color: لblack;
}

a:hover{
    color: #6B6D76;
}

h1, h2, h3, h4, h5, h6, .title {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-weight: 550;
}

#descTitle, #shotsTitle, #paypalTitle, #linksTitle, #dependTitle, #changelogTitle {
    background-color: #FAF0E6;
    border: solid  ; 
}

.list-group-item {
    background-color: #FBFBF9;
    border: solid;
    border-radius: 0;
}
